.app-list{
    min-height: 76vh;
}
.center{
    display: flex;
    justify-content: center;
}

.primary-green{
    color: #4CAF50;
}

.warn{
    color: #f44336
}

mat-icon{
    cursor: pointer
}

.addIcon {
    display: flex;
  justify-content: center;
}

mat-card{
    width: 300px;
    border: 2px solid black;
}

.add{
    width: auto;
    margin-bottom: 10px;
}