.center{
    display: flex;
    justify-content: center;
}

.primary-green{
    color: #4CAF50;
}

.warn{
    color: #f44336
}

mat-icon{
    cursor: pointer
}

.addIcon {
    display: flex;
  justify-content: center;
}