<form [formGroup]="applicationDetail" (ngSubmit)="onSubmit()">
  <h3>Application Form</h3>
  <div>
    <mat-form-field>
      <input
        type="text"
        placeholder="Enter application name"
        formControlName="portalName"
        matInput
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        type="text"
        placeholder="Enter URL"
        formControlName="url"
        matInput
      />
    </mat-form-field>
  </div>
  <div class="center">
    <button mat-button type="submit" color="primary" mat-dialog-close>Submit</button>
    <button mat-button color="warn" mat-dialog-close>Cancel</button>
  </div>
</form>