<div class="table-data">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="row m-1">
  <div class="col-sm-3">
      <div class="main mt-5">
          <div class="child bg-primary text-white p-4 rounded">
              <form>
                  <div class="form-group">
                      <label for="select">Select Any Option</label>
                      <select class="form-select" id="select">
                      <!-- <select class="form-select" id="select" aria-label="Default select example" [value]="currencyName==undefined?'':currencyName" (change)="onSelect($event)"> -->
                          <option *ngFor="let app of application" value="app">{{app}}</option>
                      </select>
                  </div>
                  <br>
                  <div class="form-group">
                      <label for="days">Enter Number of Days</label>
                      <input class="form-control" type="text" placeholder="Enter Number of Days" id="days" #days>
                      <!-- <input class="form-control" type="text" [value]="limitDays==undefined?'0':limitDays" placeholder="Enter Number of Days" id="days" #days> -->
                  </div>
                  <br>
                  <button type="button" class="btn btn-light">Get Logs</button>
                  <!-- <button type="button" class="btn btn-light" (click)="getCryptoData(days.value)">Click!</button> -->
              </form>
          </div>
      </div>
  </div>
  <div class="col-sm-9" *ngIf="false">
      <div class="mt-5">
          <table class="table table-hover">
              <thead class="table-primary">
                  <tr>
                      <th *ngFor="let col of dataColumn">{{col}}</th>
                  </tr>
              </thead>
              <tbody>
                  <!-- <tr *ngFor = "let ele of (cryptodata | async) as element"></tr> -->
                  <!-- <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>{{convertDate(ele.time) | date:"short"}}</td>
                  </tr> -->
              </tbody>
          </table>
      </div>     
  </div>
</div>
