/* Structure */
table {
    width: 100%;
  }

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

h1{ 
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.table-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  